/* post css */

/*@import '~_hscroll';*/




/* VARIABLES */
$bg-color: lightsteelblue;
$text-color: #444;



/* MAIN */
body {
  background: $bg-color;
  color: $text-color;
  font-family: Roboto, Helvetica, sans-serif;
  padding:0;
  margin:0;
}

/* SIZES & POSITIONS */
header {
  width: 100vw;
  height: 10vh;
}

main {
  position: relative;
  width: 100vw;
  height: 80vh;
  bottom: 0;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.calendar {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex: 1;
  margin: 0;
}


/* HORIZONTAL SCROLL */

/* examples:
http://polygraph.cool/
https://2018inmusic.jamiehunter.design/
*/

/* code:
-> https://codepen.io/anon/pen/rbzMwN
https://stackoverflow.com/questions/11700927/horizontal-scrolling-with-mouse-wheel-in-a-div
*/

main {
  overflow: scroll hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-color: transparent transparent; 
}

main::-webkit-scrollbar { 
  display: none; 
} 



